$font-logo: 'Pacifico', cursive;
$font-hero-text: 'Jua', sans-serif;
$font-body: 'Jua', sans-serif;

$color-primary: #fff;
$color-primary-dark: #E75480; // Hot Pink
$color-secondary: #E6BBC8; // Soft Beige
$color-text-dark: #333333;
$color-text-light: #757575;
$color-white: #ffffff;
$color-header-bg: #E6BBC8;

$width-desktop: 1024px;
$width-tablet: 768px;
$radius-main: 24px;
$radius-button: 50px;
$header-height: 119px;